* {
  margin: 0;
  padding: 0;
}

.header,
.footer {
  background: #000;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 15px 5px;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.header__menu {
  width: inherit;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.header__list_item {
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 15px;
  min-width: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header__list_item:hover {
  color: orange;
  border: 1px solid orange;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}
.header__list_item:hover .basket__logo_body {
  opacity: 0;
  transition: all 0.5s ease;
}
.header__list_item:active {
  transform: scale(0.99);
}

.basket__body {
  position: absolute;
  background: white;
  color: black;
  min-width: 200px;
  padding: 10px 15px;
  top: 110%;
  left: 0;
  border-radius: 5px;
  box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
}
.basket__logo {
  position: relative;
}
.basket__logo_body {
  position: absolute;
  background: orange;
  font-size: 12px;
  padding: 1px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -12px;
}
.basket__body-table {
  border-collapse: collapse;
  width: 100%;
}
.basket__body-table th,
.basket__body-table td {
  padding: 5px 10px;
  outline: 1px solid black;
}
.basket__body-header_menu {
  color: orange;
}
._keyframes {
  animation-name: dynamic-kart;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes dynamic-kart {
  0% {
    position: absolute;
  }
  20% {
    transform: rotate(80deg) scale(0.9);
    top: 45px;
    left: 200px;
    position: absolute;
    opacity: 0.8;
  }
  40% {
    transform: rotate(120deg) scale(0.7);
    top: 35px;
    left: 400px;
    position: absolute;
    opacity: 0.6;
  }
  60% {
    transform: rotate(200deg) scale(0.5);
    top: 25px;
    left: 600px;
    position: absolute;
    opacity: 0.45;
  }
  80% {
    transform: rotate(280deg) scale(0.3);
    top: 20px;
    left: 800px;
    position: absolute;
    opacity: 0.4;
  }
  90% {
    transform: rotate(300deg) scale(0.2);
    top: 18px;
    left: 900px;
    position: absolute;
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg) scale(0.1);
    top: 15px;
    left: 975px;
    position: absolute;
    opacity: 0.1;
  }
}
._rub:after {
  content: "p.";
}

.main-page {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.main-page__catalog {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.main-page__catalog-item {
  border-radius: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px;
  box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-page__catalog-item:hover {
  transform: scale(1.03);
}
.main-page__catalog-item:active {
  transform: scale(0.99);
}
.main-page__catalog-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
  height: 80%;
}
.main-page__catalog-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 20%;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer__copyright {
  width: inherit;
}/*# sourceMappingURL=style.css.map */