* {
	margin: 0;
	padding: 0;
}
$gap: 20px;
$container: 1320px;
.header,
.footer {
	background: #000;
	color: white;
	// min-height: 50px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	padding: 15px 5px;
}
html {
	height: 100%;
}

body {
	overflow-x: hidden;
	max-width: $container;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	&__menu {
		width: inherit;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;

		list-style-type: none;
		&_item {
			border: 1px solid white;
			border-radius: 3px;
			padding: 3px 15px;
			min-width: 50px;
			cursor: pointer;
			transition: all 0.5s ease;
			&:hover {
				color: orange;
				border: 1px solid orange;
				transform: scale(1.1);
				-webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
				-moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
				box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
				& .basket__logo_body {
					opacity: 0;
					transition: all 0.5s ease;
				}
			}
			&:active {
				transform: scale(0.99);
			}
		}
	}
}
.basket {
	&__body {
		display: none;
		position: absolute;
		background: white;
		color: black;
		min-width: 200px;
		padding: 10px 15px;
		top: 110%;
		left: 0;
		border-radius: 5px;
		-webkit-box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
		box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
	}
	&__logo {
		position: relative;
		&_body {
			position: absolute;
			background: orange;
			font-size: 12px;
			padding: 1px;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -8px;
			right: -12px;
		}
	}
	&__body-table {
		border-collapse: collapse;
		width: 100%;
		& th,
		td {
			padding: 5px 10px;
			outline: 1px solid black;
		}
	}
	&__body-header {
		&_menu {
			color: orange;
		}
	}
	&__body-content {
		&_info {
		}
		&_summ {
		}
	}
	&__body-footer {
	}
	&__dinamic {
	}
}
// animation: name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state ;

// transition-duration: – задает длительность анимации от начала и до конца;
// transition-timing-function: – задает способ передвижения анимации вдоль временного «трека», например, ease, ease-in, linear и т.д;
// transition-delay: – время задержки (если оно есть) старта анимации
// iteration-count: – сколько раз играть анимацию, для зацикливания можно использовать значение infinite
// animation-fill-mode: задает, будут ли видны стили до или после проигрывания анимации.backwards – применяются стили первого кейфрейма (0%) forwards – стили последнего кейфрейма (100%) both – правила работают как для backwards так и для forwards.
// play-state:Состояние проигрывание можно задать в paused и running
// ._keyframes {
// 	animation-name: dynamic-kart;
// 	animation-duration: 5s;
// 	animation-timing-function: ease;
// 	animation-fill-mode: forwards;
// }
// @keyframes dynamic-kart {
// 	0% {
// 		position: absolute;
// 	}
// 	20% {
// 		transform: rotate(80deg) scale(0.9);
// 		top: 45px;
// 		left: 200px;
// 		position: absolute;
// 		opacity: 0.8;
// 	}
// 	40% {
// 		transform: rotate(120deg) scale(0.7);
// 		top: 35px;
// 		left: 400px;
// 		position: absolute;
// 		opacity: 0.6;
// 	}
// 	60% {
// 		transform: rotate(200deg) scale(0.5);
// 		top: 25px;
// 		left: 600px;
// 		position: absolute;
// 		opacity: 0.45;
// 	}
// 	80% {
// 		transform: rotate(280deg) scale(0.3);
// 		top: 20px;
// 		left: 800px;
// 		position: absolute;
// 		opacity: 0.4;
// 	}
// 	90% {
// 		transform: rotate(300deg) scale(0.2);
// 		top: 18px;
// 		left: 900px;
// 		position: absolute;
// 		opacity: 0.2;
// 	}
// 	100% {
// 		transform: rotate(360deg) scale(0.1);
// 		top: 15px;
// 		left: 975px;
// 		position: absolute;
// 		opacity: 0.1;
// 	}
// }

._rub:after {
	content: "p.";
}
.main-page {
	flex-grow: 1;
	display: flex;
	align-items: center;
	&__catalog {
		display: grid;

		// list-style-type: none;
		// display: flex;
		// gap: $gap;
		// align-items: center;
		// flex-wrap: wrap;
		// justify-content: center;
	}
	&__catalog-item {
		border-radius: 5px;
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: ($container - $gap * 3) / 4;
		-webkit-box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
		box-shadow: 1px 4px 15px -3px rgba(0, 0, 0, 0.75);
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover {
			transform: scale(1.03);
		}
		&:active {
			transform: scale(0.99);
		}
		& img {
			width: 100%;
			object-fit: cover;
			border-radius: 5px 5px 0 0;
			height: 80%;
		}
	}
	&__catalog-content {
		width: 100%;
		display: flex;
		justify-content: space-around;
		height: 20%;
		align-items: center;
	}
}

.footer {
	display: flex;
	align-items: center;
	margin-top: 20px;
	&__copyright {
		width: inherit;
	}
}
